.ctext {
	text-align: justify;
}

.mainH {
	border: none;
}

.mainNav {
	color: #fff;
}

.clear {
	clear: both;
}

.sld1 {
	color: #460e0e;
	font-size: 3rem;
}

@media (max-width: 700px) {
	.slider {
		display: none;
	}
}
